@model System.Data.DataTable
@using System.Data;
@using System.Web.Optimization

@{
    ViewData["Title"] = "Search";
}


<head>
    <title>Styled Map Types</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <meta charset="utf-8">
    <style>
        /* Always set the map height explicitly to define the size of the div
                    * element that contains the map. */
        #map {
            height: 100%;
        }
        /* Optional: Makes the sample page fill the window. */
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
    </style>
</head>

<h2>Search Results</h2>

@using (Html.BeginForm("Search", "Home", FormMethod.Get))
{
    <p>
        Search: @Html.TextBox("stringSearch")
        Filter By: @Html.DropDownList("CatagoryID", ViewBag.CatagoryID as SelectList)
        Start Date/Time:@Html.TextBox("startDate")
        End Date/Time: @Html.TextBox("endDate")
        Real-Time: @Html.CheckBox("EventStream", (bool)ViewBag.EventStream)

        <input type="submit" value="Search" />
    </p>
}

<div class="container">
    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item"><a class="nav-link active" href="#nodeTable" data-toggle="tab">Table</a></li>
        <li class="nav-item"><a class="nav-link" href="#map" data-toggle="tab">Node Map</a></li>
    </ul>
    <div class="tab-content">
        <div id="nodeTable" class="container tab-pane active">
            <table class="table" style="table-layout:auto; width: 100%; overflow:auto">
                <thead>
                    <tr>
                        @foreach (DataColumn col in Model.Columns)
                        {
                            <th>@col.ColumnName</th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @foreach (DataRow row in Model.Rows)
                    {
                        <tr>
                            @foreach (DataColumn col in Model.Columns)
                            {
                                <td>@row[col.ColumnName]</td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <link href="//cdn.datatables.net/1.10.9/css/jquery.dataTables.min.css" rel="stylesheet" />
        @section Scripts{
            <script type="text/javascript" charset="utf8" src="http://cdn.datatables.net/1.10.9/js/jquery.dataTables.min.js"></script>

            <script>
                $(document).ready(function () {
                    $(".table").dataTable({
                        paging: true,
                        select: true,
                        stateSave: true,
                        autoWidth: true, @*Possible redundency with table header auto width*@
                        "sPaginationType": "full_numbers",
                        "sDom": "rtip"
                    });
                })
            </script>
        }

        <div id="map" class="container tab-pane fade">
            @*Google-Map-API*@
            <p>
                <script>
                    function initMap() {                        
                        var styledMapType = new google.maps.StyledMapType(
                            [
                                {
                                    "elementType": "geometry",
                                    "stylers": [
                                        {
                                            "color": "#1d2c4d"
                                        }
                                    ]
                                },
                                {
                                    "elementType": "labels.text.fill",
                                    "stylers": [
                                        {
                                            "color": "#8ec3b9"
                                        }
                                    ]
                                },
                                {
                                    "elementType": "labels.text.stroke",
                                    "stylers": [
                                        {
                                            "color": "#1a3646"
                                        }
                                    ]
                                },
                                {
                                    "featureType": "administrative.country",
                                    "elementType": "geometry.stroke",
                                    "stylers": [
                                        {
                                            "color": "#4b6878"
                                        }
                                    ]
                                },
                                {
                                    "featureType": "administrative.land_parcel",
                                    "elementType": "labels.text.fill",
                                    "stylers": [
                                        {
                                            "color": "#64779e"
                                        }
                                    ]
                                },
                                {
                                    "featureType": "administrative.province",
                                    "elementType": "geometry.stroke",
                                    "stylers": [
                                        {
                                            "color": "#4b6878"
                                        }
                                    ]
                                },
                                {
                                    "featureType": "landscape.man_made",
                                    "elementType": "geometry.stroke",
                                    "stylers": [
                                        {
                                            "color": "#334e87"
                                        }
                                    ]
                                },
                                {
                                    "featureType": "landscape.natural",
                                    "elementType": "geometry",
                                    "stylers": [
                                        {
                                            "color": "#023e58"
                                        }
                                    ]
                                },
                                {
                                    "featureType": "poi",
                                    "elementType": "geometry",
                                    "stylers": [
                                        {
                                            "color": "#283d6a"
                                        }
                                    ]
                                },
                                {
                                    "featureType": "poi",
                                    "elementType": "labels.text.fill",
                                    "stylers": [
                                        {
                                            "color": "#6f9ba5"
                                        }
                                    ]
                                },
                                {
                                    "featureType": "poi",
                                    "elementType": "labels.text.stroke",
                                    "stylers": [
                                        {
                                            "color": "#1d2c4d"
                                        }
                                    ]
                                },
                                {
                                    "featureType": "poi.business",
                                    "stylers": [
                                        {
                                            "visibility": "off"
                                        }
                                    ]
                                },
                                {
                                    "featureType": "poi.park",
                                    "elementType": "geometry.fill",
                                    "stylers": [
                                        {
                                            "color": "#023e58"
                                        }
                                    ]
                                },
                                {
                                    "featureType": "poi.park",
                                    "elementType": "labels.text",
                                    "stylers": [
                                        {
                                            "visibility": "off"
                                        }
                                    ]
                                },
                                {
                                    "featureType": "poi.park",
                                    "elementType": "labels.text.fill",
                                    "stylers": [
                                        {
                                            "color": "#3C7680"
                                        }
                                    ]
                                },
                                {
                                    "featureType": "road",
                                    "stylers": [
                                        {
                                            "visibility": "off"
                                        }
                                    ]
                                },
                                {
                                    "featureType": "road",
                                    "elementType": "geometry",
                                    "stylers": [
                                        {
                                            "color": "#304a7d"
                                        }
                                    ]
                                },
                                {
                                    "featureType": "road",
                                    "elementType": "labels.text.fill",
                                    "stylers": [
                                        {
                                            "color": "#98a5be"
                                        }
                                    ]
                                },
                                {
                                    "featureType": "road",
                                    "elementType": "labels.text.stroke",
                                    "stylers": [
                                        {
                                            "color": "#1d2c4d"
                                        }
                                    ]
                                },
                                {
                                    "featureType": "road.highway",
                                    "elementType": "geometry",
                                    "stylers": [
                                        {
                                            "color": "#2c6675"
                                        }
                                    ]
                                },
                                {
                                    "featureType": "road.highway",
                                    "elementType": "geometry.stroke",
                                    "stylers": [
                                        {
                                            "color": "#255763"
                                        }
                                    ]
                                },
                                {
                                    "featureType": "road.highway",
                                    "elementType": "labels.text.fill",
                                    "stylers": [
                                        {
                                            "color": "#b0d5ce"
                                        }
                                    ]
                                },
                                {
                                    "featureType": "road.highway",
                                    "elementType": "labels.text.stroke",
                                    "stylers": [
                                        {
                                            "color": "#023e58"
                                        }
                                    ]
                                },
                                {
                                    "featureType": "transit",
                                    "stylers": [
                                        {
                                            "visibility": "off"
                                        }
                                    ]
                                },
                                {
                                    "featureType": "transit",
                                    "elementType": "labels.text.fill",
                                    "stylers": [
                                        {
                                            "color": "#98a5be"
                                        }
                                    ]
                                },
                                {
                                    "featureType": "transit",
                                    "elementType": "labels.text.stroke",
                                    "stylers": [
                                        {
                                            "color": "#1d2c4d"
                                        }
                                    ]
                                },
                                {
                                    "featureType": "transit.line",
                                    "elementType": "geometry.fill",
                                    "stylers": [
                                        {
                                            "color": "#283d6a"
                                        }
                                    ]
                                },
                                {
                                    "featureType": "transit.station",
                                    "elementType": "geometry",
                                    "stylers": [
                                        {
                                            "color": "#3a4762"
                                        }
                                    ]
                                },
                                {
                                    "featureType": "water",
                                    "elementType": "geometry",
                                    "stylers": [
                                        {
                                            "color": "#0e1626"
                                        }
                                    ]
                                },
                                {
                                    "featureType": "water",
                                    "elementType": "labels.text.fill",
                                    "stylers": [
                                        {
                                            "color": "#4e6d70"
                                        }
                                    ]
                                }
                            ],
                            { name: 'Styled Map' });
                        var map = new google.maps.Map(document.getElementById('map'), {
                            center: { lat: 0, lng: 0 },
                            zoom: 3,
                            mapTypeControlOptions: {
                                mapTypeIds: ['roadmap', 'satellie', 'hybrid', 'terrain',
                                    'styled_map']
                            },
                        });
                       //foreach (DataRow row in Model.Rows)
                      //  {
                      //     var nodeLatLng = new google.maps.LatLang(row["Lat"], row["Long"]);
                       // }
                        map.mapTypes.set('styled_map', foreach;
                        map.setMapTypeId('styled_map');

                    }
                </script>
                <script async defer
                        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA9fSWwqy7wVEheaaOtqVhfrxodZZo6BEE&callback=initMap">
                </script>
            </p>
        </div>
    </div>
</div>







